html, body {
    padding: 1rem 4rem;
    overflow: auto !important;
}


a { color: white; text-decoration: none; }

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.accordion-header {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    transition: background-color 0.3s;
}

.accordion-header:hover {
/*     background-color: #e0e0e0; */
}

.accordion-header div {
    text-transform: capitalize;
}

.accordion-content {
    display: none;
    padding: 10px;
}

/* Styling for the textareas */
textarea, .code-textarea {
    min-height: 250px;
    color: white;
    margin: 10px 0px;
}

textarea, .code-textarea-js {
    /*min-height: 240px;*/
}

textarea.code-textarea[disabled] {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

input {
    background: #242424;
    color: white;
    height: 100%;
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 30px)
}

input[disabled] {
    display: none;
}

input:focus {outline: none;}


br {
    /*margin-bottom: 10px;*/
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.ico:hover {
    opacity: .7;
}


.save-btn {
    border-radius: 0px;
    width: 100%;
}

.notification {
    left: 8rem !important;
}