html, body {
    background: #242424;
    color: white;
    padding: 1rem 4rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.accordion-header {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
/*     background-color: #f9f9f9; */
    transition: background-color 0.3s;
}

.accordion-header:hover {
/*     background-color: #e0e0e0; */
}

.accordion-content {
    display: none;
    padding: 10px;
}

/* Styling for the textareas */
textarea, .code-textarea {
    width: 100%;
    height: 150px;
    color: white;
    background: black;
    margin: 10px 0px;
    resize: none; /* Prevent resizing */
    font-family: monospace; /* Use monospace font for code */
}

textarea.code-textarea[disabled] {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
};

input#new-script-name {
    background: black;
    color: white;
    width: 250px;
    height: 100%;
}

input[disabled] {
    display: none;
}


br {
    /*margin-bottom: 10px;*/
}

.space-between {
    display: flex;
    justify-content: space-between;
}


.save-btn {
    border-radius: 0px;
    width: 100%;
}