
#url-div {margin: 8px 0; text-decoration: underline;}
.float-right {float: right}
.flex {display: flex}


button.active {
  /*border: none;*/
  border-bottom: 1px solid transparent;
  /*background: blue;*/
  color: white;
}

.view-btns button {
  background: inherit;
}


.w-100 {width: 100%;}
.w-50 {width: 50%;}

.hidden { display: none;}
.active {
  border-bottom: 3px;
}

.float-right { float: right}
.accordion-header {
/*   background: red; */
  cursor: pointer;
  boder: 2px solid rgb(55, 63, 81);
  border-radius: 4px;

}
.cursor-pointer {
  cursor: pointer;
}


#save-btn {
  position: fixed;
  /*font-size: 1.1rem;*/
  bottom: 8px;
  color: white;
  width: calc(100% - 20px);
  border: 1px solid black;
}
#save-btn:hover {
  border: 1px solid white;
  /*color: #01527F;*/
}

.scripts-div {
  margin-bottom: 50px;
}

#success-msg {
  position: absolute;
  font-size: 20px;
  margin: 0px 10px;
  bottom: 60px;
}